body{
    margin: 0;
    overflow: hidden;
    background-color: #575757;
    font-family: "Lucida Console";

}

canvas{
    margin: 0;
    display: block;
    image-rendering: pixelated;
    
}

.settings{
    margin: 1em;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(52, 52, 52, 0.8);
    border-radius: 0.5em;
    border-style: solid;
    border-width: 0.15em;
    border-color: #232323;
    padding: 0.2em;
}

h3{
    display: inline;
    margin-right:1em;
}

button{
    margin:0;
    transition-duration: 0.4s;
    background: none;
    border: none;
    color: white;
    font-size: large;
    border-radius: 0.25em;

}

button:hover {
    background-color: rgb(255,255,255,0.75);
    color:black;
}
.header{
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 0.25em;
}


h3{
    font-weight: 500;
    color: white;
    margin: 0;
}
label{
    color: white;
    font-size: small;
}
select{
    border: none;
    background: none;
    color: white;
    background-color: rgb(52, 52, 52);
    border-radius: 0.25em;
    position: absolute;
    right:1em;
}

#minbtn{
    position: absolute;
    right: 0;
}
.toggles{
    padding-bottom: 0.5em;
}

.rulesEditor{
    padding-bottom: 0.5em;
}

.startdir{
    padding-bottom: 0.5em;
}

.speed{
    padding-bottom: 0.5em;
}

.hidden {
    display:none
}
